@model Item
@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/singleitem.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <main>
        <div id="slider">
            <div id="slider-main-picture-container">
                <img alt="picture" src="@("/assets/"+Model.MainPicture)" />
            </div>
            <div id="slider-thumbnails-container">
                <div class="thumbnail selected" data-large-img-url="@("/assets/"+Model.MainPicture)">
                    <img src="@("/assets/"+Model.MainPicture)" alt="onepluspro" />
                </div>
                <div class="thumbnail" data-large-img-url="@("/assets/"+Model.SecondPicture)">
                    <img src="@("/assets/"+Model.SecondPicture)" alt="steelarctis" />
                </div>
            </div>
        </div>
        <div id="information">
            <h1 id="information-title">@Model.Name</h1>
            <label id="price">$@Model.Price</label>
            <div id="description">
                <h3 id="description-tittle">Product details</h3>
                <p id="description-text">
                    @Model.Description
                </p>
            </div>
        </div>
    </main>
    <section id="review-section">
        <h2 id="review-section-title">Reviews</h2>
        @if (signInManager.IsSignedIn(User))
        {
            <span>New Review:</span>
            <form action="">
                <textarea id="review-input" type="text"></textarea>
                <div class="submit-button">
                    <input type="submit" value="Submit">
                </div>
            </form>
        }
        <div id="comment-container">
            <div class="comment">
                <div class="comment-user">
                    <img src="/assets/user.png" alt="userpic">
                    <h4 class="comment-username">Matej</h4>
                </div>
                <p class="comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="comment">
                <div class="comment-user">
                    <img src="/assets/user.png" alt="userpic">
                    <h4 class="comment-username">Matej</h4>
                </div>
                <p id="comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>

        </div>
    </section>

    <script src="/js/mainpicture.js"></script>
</body>
</html>