@model reView.ViewModels.PostAndListVm
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager

@{
    var Item = ViewBag.Item;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/singleitem.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body >

    <main>
        <div id="slider">
            <div id="slider-main-picture-container">
                <img alt="picture" src="@("/assets/"+Item.MainPicture)" />
            </div>
            <div id="slider-thumbnails-container">
                <div class="thumbnail selected" data-large-img-url="@("/assets/"+Item.MainPicture)">
                    <img src="@("/assets/"+Item.MainPicture)" alt="onepluspro" />
                </div>
                <div class="thumbnail" data-large-img-url="@("/assets/"+Item.SecondPicture)">
                    <img src="@("/assets/"+Item.SecondPicture)" alt="steelarctis" />
                </div>
            </div>
        </div>
        <div id="information">
            <h1 id="information-title">@Item.Name</h1>
            <label id="price">$@Item.Price</label>
            <div id="description">
                <h3 id="description-tittle">Product details</h3>
                <p id="description-text">
                    @Item.Description
                </p>
            </div>
        </div>
    </main>
    <section id="review-section">
        <h2 id="review-section-title">Reviews</h2>
        @if (signInManager.IsSignedIn(User))
        {


            <span>New Review:</span>
            <form  method="post">
                <textarea  asp-for="ReviewToPost.Text" id="review-input" type="text"></textarea>
                <input asp-for="ReviewToPost.ItemId" value="@Item.Id" type="hidden" />
                <div class="submit-button">
                    <input  asp-route-id="@Item.Id" type="submit" value="Submit">
                </div>
            </form>
        }
        <div id="comment-container">
            @foreach (var obj in Model.Reviews)
            {
                var user = await userManager.FindByIdAsync(obj.UserId);
                obj.ApplicationUser = user;

                <div class="comment">
                    <div class="comment-user">
                        <img src="/assets/user.png" alt="userpic">
                        <h4 class="comment-username">@obj.ApplicationUser.UserName</h4>
                    </div>
                    <p class="comment-text">
                        @obj.Text
                    </p>
                </div>
            }


        </div>
    </section>
    <script src="/js/mainpicture.js"></script>
    </body>
</html>